/* Color: # 0 3 b f 9 a; */

@import url("https://fonts.googleapis.com/css?family=Rubik:400,700|Press+Start+2P&subset=latin-ext");
:root {
  --color: #33b39f;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #222;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  color: var(--color);
}

html {
  box-sizing: border-box;
  font-family: Rubik;
  color: #222;
}
html body {
  background: #eff;
}
html, html body, html body #container {
  width: 100%;
  height: 100%;
}

#navigation {
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background: white;
  border-bottom: 0;
}
#navigation #nav-content #name {
  font-size: 1.7em;
  display: inline-block;
  font-family: "Press Start 2P";
  letter-spacing: -0.1em;
  margin-top: 0.3em;
}
#navigation #nav-content #name .letter {
  color: var(--color);
}
#navigation #nav-content #menu {
  margin: 0.5em;
  margin-top: 0.3em;
  float: right;
}
#navigation #nav-content #menu li {
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  margin-bottom: 0.2em;
  background: #222;
  margin: auto;
}
#navigation #nav-content #menu li > a {
  transition: all 0.3s;
}
#navigation #nav-content #menu li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#navigation #nav-content #menu li:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: 0;
}
#navigation #nav-content #menu li.active {
  color: var(--color);
}
#navigation #nav-content #menu.hidden {
  cursor: pointer;
}
#navigation #nav-content #menu.hidden:hover > li {
  margin-bottom: 0.3em;
}
#navigation #nav-content #menu.hidden:hover > li:last-child {
  margin-bottom: 0;
}
#navigation #nav-content #menu.hidden li {
  margin-left: auto;
  height: 0.5em;
  width: 2em;
  background: #222;
  margin-bottom: 0.2em;
}
#navigation #nav-content #menu.hidden li a {
  display: none;
}
#navigation #nav-content #menu.show {
  padding: 1em;
  text-align: right;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
}
#navigation #nav-content #menu.show li {
  display: block;
}
#navigation #nav-content #menu.show li:hover > a {
  text-decoration: underline;
  color: var(--color);
}
#navigation #nav-content #menu.show li a {
  display: block;
  width: 12.5em;
  padding: 1em 0.5em;
  text-decoration: none;
  color: white;
}

#content {
  background: white;
  height: inherit;
  margin-top: 5em;
  margin-bottom: 2.5em;
  border-top: 0;
  border-bottom: 0;
  width: 75%;
  margin: 5em auto 2.5em auto;
}
#content .fill-screen {
  overflow: auto;
  height: auto;
  width: 100%;
  padding: 1em;
}
#content .fill-screen .image {
  float: left;
  height: auto;
  margin-right: 1em;
}
#content .fill-screen .title {
  font-size: 2em;
}
#content .fill-screen .innhold {
  margin-top: 0.5em;
  line-height: 1.5;
  max-width: 40em;
  text-align: left;
}
#content .fill-screen.green {
  background: var(--color);
  color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 0.75em;
  height: 2.5em;
  text-align: left;
  border-top: 0;
}
#footer .right {
  float: right;
}
#footer .right #go-up {
  background: var(--color);
  padding: .75em;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  transition: 0.3s padding;
  height: 1em;
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}
#footer .right #go-up:hover {
  color: white;
  padding: 1em;
}
#footer #social-media {
  display: inline-block;
}
#footer #social-media li {
  display: inline-block;
}
#footer #social-media li a {
  margin: 0 0.1em;
  color: #222;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
#footer #social-media li a:hover {
  color: var(--color);
}

@media screen and (max-width: 535px) {
  #container #content .fill-screen {
    text-align: center;
  }
  #container #content .fill-screen .image {
    margin-bottom: 0.75em;
    float: none;
    display: block;
  }
}
@media screen and (max-width: 560px) {
  #navigation {
    padding: 0.5em 0;
  }
  #navigation #nav-content #name {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.25em;
  }
  #navigation #nav-content #menu {
    text-align: center;
    display: block;
    float: none;
    margin-top: 0;
  }
  #navigation #nav-content #menu.show {
    top: 1.5em;
    left: 0;
  }
  #navigation #nav-content #menu.show li > a {
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
  #navigation #nav-content #menu.show li > a:hover {
    width: 100%;
  }

  #content {
    width: 100%;
  }

  #footer {
    text-align: center;
  }
}