html
  head
    title William S. Østensen
    meta(name='theme-color', content='#00ffee')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    #container
      nav#navigation
        #nav-content
          #name
            | WILLIAM
            span.letter S
            | ØSTENSEN
          ul#menu.hidden
            li
              a(href='#') HOME
            li.active
              a(href='#') ABOUT
            li
              a(href='#') WORKS
      #content
        .fill-screen.green
          // <div class="image"><img src="https://dummyimage.com/200x200/000/fff" alt="img"/></div>
          .image
            img(src='me.bmp')
          .title Om meg
          .innhold
            div
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur accusamus ratione provident culpa incidunt excepturi ad numquam. Itaque, voluptatum esse ratione ipsum quasi ad, fugiat nisi quibusdam nobis error laudantium. 🍑
      #footer
        span.right
          a#go-up(href='#')
            i.fa.fa-chevron-up(aria-hidden='true')
        | You can find me here:
        ul#social-media
          li
            a.social.element(href='#')
              i.fa.fa-github-alt(aria-hidden='true')
          li
            a.social.element(href='#')
              i.fa.fa-twitter-square(aria-hidden='true')
    script(type='text/javascript', src='main.js')
    script(src='https://use.fontawesome.com/595c58108c.js')