@import 'reset'

$black:         #222222
$white:         #eefeef
$primary:       #17dcaf;
$primary-light: lighten($primary, 1.1)
$primary-dark:  darken( $primary, 1.1)

*
	box-sizing: inherit
	&:before, &:after
		box-sizing: inherit

html
	box-sizing: border-box
	font-family: 'Rubik'
	color: $black

body
	#wrapper
		nav
			position: fixed
			top: 0
			left: 0
			right: 0
			height: 4em
			padding: 0.5em 2em
			padding-bottom: 0
			background: rgba(255, 255, 255, 0.9)
			ul#mobile-menu
				transition: width 0.2s
				&.super-hide
					width: 0
					display: none
					opacity: 0
				&.super-show
					position: fixed
					right: 0
					top: 0
					height: 100%
					width: 50%
					opacity: 1
					padding-top: 3em
					background: $black
					li
						text-align: center
						margin: 0.5em 0 
						a
							padding: 1em 0
							font-size: 1.5em
							display: block
							color: $primary
							background: inherit
							text-decoration: none
							transition: background 0.2s
							border-radius: 3px
							&:hover
								background: #111111
			#nav-overlay
				filter: blur(5px)
			#nav-wrapper
				width: 80%
				margin: 0 auto
				#name
					display: inline-block
					height: 100%
					font-size: 2.5em
					vertical-align: baseline
					.s
						color: $primary
					.social
						margin-left: .25em
						.social-link
							position: relative
							width: .8em
							display: inline-block
							margin-right: .25em
							&:after
								content: " "
								position: absolute
								top: 0
								left: 0
								right: 0
								bottom: 0
							& > svg
								transition: fill 0.2s
								&:hover
									fill: $primary
				#menu
					display: inline-block
					float: right
					ul#mobile
						display: none
						margin: .5em
						margin-top: .25em
						transition: transform 0.2s
						transition-timing-function: cubic-bezier(0.19, 1 ,0.22, 1)
						&.close
							display: inline 
							transform: rotate(45deg)
							& > .one
								width: 1em
								transform: rotate(90deg) translateX(2px)
							& > .three
								width: 1em
								transform: rotate(90deg) translateX(-2px)
						&:hover
							cursor: pointer
						.menu-bar
							margin: 0 auto
							display: block
							height: 5px
							background: $primary
							width: 2em
							margin-bottom: .3em 
							border-radius: 1.5px
							transition: width 0.3s, transform 0.2s
							&:last-child
								margin-bottom: 0
					ul.desktop
						display: inline-block
						.link
							display: inline-block
							vertical-align: middle
							a
								margin: auto
								display: block
								font-size: 1.5em
								padding: .5em 1em
								color: $primary
								text-decoration: none
								border-bottom: 2px solid transparent
								transition: 0.2s border-bottom, 0.2s background
								&:hover
									background: transparentize($primary-light, 0.9)
									border-bottom: 2px solid $primary
		#content
			width: 70%
			height: 100%
			margin: 4em auto
			font-size: 1.2em
			.post
				.title
					font-size: 2em
					font-weight: 700
					display: block
				.about
					font-size: 0.8em
					display: block
					color: $primary-dark
				.innhold
					display: block
					margin: .5em 0
					letter-spacing: 0.025em
					line-height: 1.25em
					color: #444

		footer
			position: fixed
			bottom: 0
			left: 0
			right: 0
			height: 4em
			background: $primary
			padding: 0 2em
			#feedback
				color: white
				display: inline-block
				font-size: 1.3em
				position: fixed
				bottom: 1em
				left:   1em
				text-decoration: none
				&:hover
					text-decoration: underline

@media screen and (max-width: 1200px)
	body
		#wrapper
			nav
				padding: 0.5em
				#nav-wrapper
					width: 100%
					margin: 0

@media screen and (max-width: 890px)
	body
		#wrapper
			nav
				padding: 0.5em
				#nav-wrapper
					width: 100%
					margin: 0
					#name
						font-size: 2em
				#menu
					z-index: 1000
					ul.desktop
						display: none !important
					ul#mobile
						display: inline-block !important
						position: fixed
						top:  0.5em
						right: 0.5em
			#content
				width: 100%
				padding: 0.5em
